.container
  %h2 Diff
  %form.form-horizontal
    .control-group
      %label.control-label From
      .controls
        %input.input-huge.uneditable-input{:type => 'text', :value => File.basename(@from), :readonly => true}
    .control-group
      %label.control-label To
      .controls
        %input.input-huge.uneditable-input{:type => 'text', :value => File.basename(@to), :readonly => true}
    .control-group
      %label.control-label Unchanged lines are
      .controls
        .switch#unchanged-toggle
          %input{:type => 'checkbox'}
.container
  = Diffy::Diff.new(IO.read(@from), IO.read(@to)).to_s(:html)
